<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Deep Cyberbullying Detector API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Deep Cyberbullying Detector</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}" method="post">
      <textarea id="tweet_text" name="tweet_text" rows="8" cols="65" placeholder="Enter tweet ..." required="required"></textarea>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>

   <br><br>
   <h3>{{ prediction_text }}</h3>
   <br>
   {{ tweet }}

 </div>


</body>
</html>